# Data explore

- Transpose stock returns -> save to `data/stock_returns.csv` 
- Index return series -> save to `data/DJIA.csv`
- Factor returns -> save to `data/factor_returns.csv`

## Import raw data

In [44]:
import pandas as pd
raw_stock_returns = pd.read_excel('data/raw_daily_returns.xlsx')
stock_list = pd.read_excel('data/stock_list.xlsx')
raw_djia = pd.read_csv('data/Dow Jones Industrial Average Historical Data.csv')
raw_factor_returns = pd.read_excel('data/raw_factor_returns.xlsx')

## Stock returns

The raw_data downloaded from WRDS has extra ticker or company names. First we observed which ticker or name is redundant, then we drop the redundant columns.

In [45]:
# Rename the columns
raw_stock_returns.columns = ['permno', 'date', 'ticker', 'name', 'returns']
raw_stock_returns.head(4)

   permno       date ticker            name   returns
0   10107 2003-12-31   MSFT  MICROSOFT CORP -0.005451
1   10107 2004-01-02   MSFT  MICROSOFT CORP  0.002923
2   10107 2004-01-05   MSFT  MICROSOFT CORP  0.025137
3   10107 2004-01-06   MSFT  MICROSOFT CORP  0.003554

In [46]:
# Get unique names and its corresponding tickers
print("Number of unique tickers: ", raw_stock_returns['ticker'].nunique())
print("Number of unique permno: ", raw_stock_returns['permno'].nunique())
print("Number of unique names: ", raw_stock_returns['name'].nunique())
names = raw_stock_returns[['permno', 'ticker', 'name']].drop_duplicates()
names

Number of unique tickers:  34
Number of unique permno:  33
Number of unique names:  42

        permno ticker                              name
0        10107   MSFT                    MICROSOFT CORP
5034     10145    HON       HONEYWELL INTERNATIONAL INC
10068    11308     KO                      COCA COLA CO
15102    12490    IBM  INTERNATIONAL BUSINESS MACHS COR
20136    14008   AMGN                         AMGEN INC
25170    14541    CVX                CHEVRONTEXACO CORP
25511    14541    CVX                  CHEVRON CORP NEW
30204    14593   AAPL                APPLE COMPUTER INC
30966    14593   AAPL                         APPLE INC
35238    16424      G                       GILLETTE CO
35681    18163     PG               PROCTER & GAMBLE CO
40715    18542    CAT                   CATERPILLAR INC
45749    19561     BA                         BOEING CO
50783    22111    JNJ                 JOHNSON & JOHNSON
55817    22592    MMM                             3M CO
60851    22752    MRK                    MERCK & CO INC
62323    22752    MRK                MERCK & CO INC NEW
65885    26403    DIS                    DISNEY WALT CO
70919    36468    SHW               SHERWIN WILLIAMS CO
75953    43449    MCD                    MCDONALDS CORP
80987    47896    JPM             J P MORGAN CHASE & CO
81130    47896    JPM               JPMORGAN CHASE & CO
86021    57665    NKE                          NIKE INC
91055    59176    AXP               AMERICAN EXPRESS CO
96089    66181     HD                    HOME DEPOT INC
101123   76076   CSCO                 CISCO SYSTEMS INC
106157   84788   AMZN                    AMAZON COM INC
111191   86580   NVDA                       NVIDIA CORP
116225   86868     GS           GOLDMAN SACHS GROUP INC
121259   90215    CRM                SALESFORCE COM INC
125736   90215    CRM                    SALESFORCE INC
126174   55976    WMT               WAL MART STORES INC
129720   55976    WMT                       WALMART INC
131208   59459    SPC                   ST PAUL COS INC
131272   59459    STA         ST PAUL TRAVELERS COS INC
132001   59459    TRV           TRAVELERS COMPANIES INC
136242   65875     VZ        VERIZON COMMUNICATIONS INC
141276   70519      C                     CITIGROUP INC
146310   88614      V                 VIVENDI UNIVERSAL
146891   88614      V                           VIVENDI
146964   92611      V                          VISA INC
150938   92655    UNH            UNITEDHEALTH GROUP INC

In [47]:
stock_list[['Symbol', 'Company']]

   Symbol             Company
0     MMM                  3M
1     AXP    American Express
2    AMGN               Amgen
3    AMZN              Amazon
4    AAPL               Apple
5      BA              Boeing
6     CAT         Caterpillar
7     CVX             Chevron
8    CSCO               Cisco
9      KO           Coca-Cola
10    DIS              Disney
11     GS       Goldman Sachs
12     HD          Home Depot
13    HON           Honeywell
14    IBM                 IBM
15    JNJ   Johnson & Johnson
16    JPM      JPMorgan Chase
17    MCD     McDonald&apos;s
18    MRK               Merck
19   MSFT           Microsoft
20    NKE                Nike
21   NVDA              Nvidia
22     PG    Procter & Gamble
23    CRM          Salesforce
24    SHW    Sherwin-Williams
25    TRV           Travelers
26    UNH  UnitedHealth Group
27     VZ             Verizon
28      V                Visa
29    WMT             Walmart

In [48]:
names

        permno ticker                              name
0        10107   MSFT                    MICROSOFT CORP
5034     10145    HON       HONEYWELL INTERNATIONAL INC
10068    11308     KO                      COCA COLA CO
15102    12490    IBM  INTERNATIONAL BUSINESS MACHS COR
20136    14008   AMGN                         AMGEN INC
25170    14541    CVX                CHEVRONTEXACO CORP
25511    14541    CVX                  CHEVRON CORP NEW
30204    14593   AAPL                APPLE COMPUTER INC
30966    14593   AAPL                         APPLE INC
35238    16424      G                       GILLETTE CO
35681    18163     PG               PROCTER & GAMBLE CO
40715    18542    CAT                   CATERPILLAR INC
45749    19561     BA                         BOEING CO
50783    22111    JNJ                 JOHNSON & JOHNSON
55817    22592    MMM                             3M CO
60851    22752    MRK                    MERCK & CO INC
62323    22752    MRK                MERCK & CO INC NEW
65885    26403    DIS                    DISNEY WALT CO
70919    36468    SHW               SHERWIN WILLIAMS CO
75953    43449    MCD                    MCDONALDS CORP
80987    47896    JPM             J P MORGAN CHASE & CO
81130    47896    JPM               JPMORGAN CHASE & CO
86021    57665    NKE                          NIKE INC
91055    59176    AXP               AMERICAN EXPRESS CO
96089    66181     HD                    HOME DEPOT INC
101123   76076   CSCO                 CISCO SYSTEMS INC
106157   84788   AMZN                    AMAZON COM INC
111191   86580   NVDA                       NVIDIA CORP
116225   86868     GS           GOLDMAN SACHS GROUP INC
121259   90215    CRM                SALESFORCE COM INC
125736   90215    CRM                    SALESFORCE INC
126174   55976    WMT               WAL MART STORES INC
129720   55976    WMT                       WALMART INC
131208   59459    SPC                   ST PAUL COS INC
131272   59459    STA         ST PAUL TRAVELERS COS INC
132001   59459    TRV           TRAVELERS COMPANIES INC
136242   65875     VZ        VERIZON COMMUNICATIONS INC
141276   70519      C                     CITIGROUP INC
146310   88614      V                 VIVENDI UNIVERSAL
146891   88614      V                           VIVENDI
146964   92611      V                          VISA INC
150938   92655    UNH            UNITEDHEALTH GROUP INC

## Factor returns

1. Change the column(factors) names
    - Excess Return on the Market: `mktrf`
    - Small-Minus-Big: `smb`
    - High-Minus-Low: `hml`
    - Robust Minus Weak: `rmw`
    - Conservative Minus Aggressive: `cma`
    - Momentum: `umd`
    - Risk-Free Rate: `rf`
2. date to index
3. Calculate the accumulated return
4. Change the freq from daily to weekly, use Friday as the date
5. Calculate the weekly return
6. Save to `data/factor_returns.csv`

In [49]:
raw_factor_returns.columns = ['date', 'mktrf', 'smb', 'hml', 'rmw', 'cma', 'umd', 'rf']
raw_factor_returns['date'] = pd.to_datetime(raw_factor_returns['date'])
raw_factor_returns = raw_factor_returns.set_index('date')

# accumulated return
factor_accumulated_returns = (1 + raw_factor_returns).cumprod()
# resample to weekly
factor_accumulated_returns = factor_accumulated_returns.resample('W-FRI').last()

# Weekly return
factor_returns = factor_accumulated_returns.pct_change().dropna()
# Save to data
factor_returns.to_csv('data/factor_returns.csv')

factor_returns.head()

,mktrf,smb,hml,rmw,cma,umd,rf
date,,,,,,,
2004-01-09,0.014692,0.011545,0.011837,-0.031015,0.027469,0.00015,0.024227
2004-01-16,0.017361,0.009913,0.009712,-0.021018,0.018302,0.00015,0.016675
2004-01-23,0.003278,0.007970,0.007807,0.013115,-0.010812,0.00012,-0.012367
2004-01-30,-0.011946,-0.013974,-0.009902,0.009665,-0.008218,0.00015,-0.012953
2004-02-06,0.009092,-0.004665,-0.001827,0.008969,-0.005498,0.00015,-0.002957

## DJIA weekly return

In [54]:
raw_djia.head()

         Date      Price       Open       High        Low   Vol. Change %
0  01/26/2025  44,896.53  44,026.27  45,054.36  44,026.27  3.74B    1.06%
1  01/19/2025  44,424.25  43,528.65  44,565.26  43,528.65  2.16B    2.15%
2  01/12/2025  43,487.83  41,924.68  43,653.25  41,844.89  2.50B    3.69%
3  01/05/2025  41,938.45  42,835.52  43,115.31  41,877.30  2.19B   -1.86%
4  12/29/2024  42,732.13  42,863.86  42,905.09  42,174.80  1.66B   -0.60%

In [57]:
djia_close = raw_djia[['Date', 'Price']].copy()
djia_close.columns = ['date', 'close']
djia_close['date'] = pd.to_datetime(djia_close['date'])
djia_close = djia_close.set_index('date')
# set the close to float
djia_close['close'] = djia_close['close'].str.replace(',', '').astype(float)

# resample to weekly
djia_close = djia_close.resample('W-FRI').last()
# Weekly return
djia_returns = djia_close.pct_change().dropna()
djia_returns.columns = ['djia']
# Save to data
djia_returns.to_csv('data/DJIA.csv')
djia_returns

                djia
date
2004-01-16  0.013541
2004-01-23 -0.003039
2004-01-30 -0.007591
2004-02-06  0.010008
2004-02-13  0.003287
...              ...
2025-01-03 -0.006049
2025-01-10 -0.018573
2025-01-17  0.036944
2025-01-24  0.021533
2025-01-31  0.010631

[1099 rows x 1 columns]